.grid-container {
  display: inline-grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  background-color: white;
  padding: 5px;
 
}
.grid-item {
  background-color: white;
  border: 1px solid black;
  font-size: 100px;
  text-align: center;

}
.dynamic-style {
  display: none;
  background-color: powderblue;

}
.mainDiv {
  text-align: center;
}

.hide {
  display: none;
}
